@font-face {
  font-family: Inter;
  src: url(../assets/Montserrat-Light.ttf);
}
.mother {
  font-family: Inter;
  background-color: rgb(37, 36, 36);
  color: white;
  padding: 20px;
  padding-left: 100px;
}
.col {
  display: flex;
}
.row {
  padding: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
.log {
  background: linear-gradient(to right, #3974e0, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
