@font-face {
  font-family: Inter;
  src: url(../assets/Montserrat-Light.ttf);
}
@font-face {
  font-family: Pop;
  src: url(../assets/Poppins-Light.ttf);
}
.mother {
  font-family: Inter;
  /* background-color: rgb(37, 36, 36); */
  background-color: white;
  color: black;
  padding: 20px;
  padding-left: 100px;
}
.col {
  display: flex;
}
.row {
  padding: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
}
.log {
  background: linear-gradient(to right, #3974e0, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-family: Pop;
}

@media screen and (max-width: 1111px) {
  .col2 {
    width: 40%;
  }
  .col1 {
    width: 60%;
  }
}
@media screen and (max-width: 1111px) {
  .col2 {
    display: none;
  }
  .col1 {
    width: 60% !important;
    margin: auto;
  }
  .al {
    margin-left: 0;
    border-left: 1px solid white;
    padding: 0%;
  }
  .mother {
    padding: 20px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 950px) {
  .label {
    flex-wrap: wrap;
  }
  .col11,
  .col22,
  .col3,
  .col4 {
    width: 40% !important;
  }
}
@media screen and (max-width: 525px) {
  .label {
    flex-wrap: wrap;
  }
  .col11,
  .col22,
  .col3,
  .col4 {
    width: 100% !important;
  }
  .col1 {
    width: 100% !important;
    border: none;
  }
}
